In [32]:
import numpy as np
import pandas as pd

import warnings

warnings.filterwarnings('ignore')

Calcium = pd.read_csv('cal_result.csv')
Creatinine = pd.read_csv('cre_result.csv')
Glucose= pd.read_csv('glu_result.csv')
pH=pd.read_csv('ph_result.csv')
Urea_Nitrogen= pd.read_csv('urea_result.csv')
Urine=pd.read_csv('urine_result.csv')
patients_informations=pd.read_csv('patients_informations.csv')

In [33]:
Blood_Calcium=Calcium.drop(['Unnamed: 0'], axis=1)
Blood_Creatinine=Creatinine.drop(['Unnamed: 0'], axis=1)
Blood_Glucose=Glucose.drop(['Unnamed: 0'], axis=1)
Blood_pH=pH.drop(['Unnamed: 0'], axis=1)
Blood_Urea_Nitrogen=Urea_Nitrogen.drop(['Unnamed: 0'], axis=1)
Urine=Urine.drop(['Unnamed: 0'], axis=1)

In [34]:
# Add column names to each of the six tables generated in data_processing_2
Blood_Calcium.columns = ['SUBJECT_ID','HADM_ID','SEQ_NUM','Blood_Calcium']
Blood_Creatinine.columns = ['SUBJECT_ID','HADM_ID','SEQ_NUM','Blood_Creatinine']
Blood_Glucose.columns = ['SUBJECT_ID','HADM_ID','SEQ_NUM','Blood_Glucose']
Blood_pH.columns = ['SUBJECT_ID','HADM_ID','SEQ_NUM','Blood_pH']
Blood_Urea_Nitrogen.columns = ['SUBJECT_ID','HADM_ID','SEQ_NUM','Blood_Urea_Nitrogen']
Urine.columns = ['SUBJECT_ID','HADM_ID','SEQ_NUM','Urine']

In [35]:
All_result_1=pd.merge(Blood_Calcium,Blood_Creatinine,on=['SUBJECT_ID', 'HADM_ID','SEQ_NUM'],how='left')
All_result_1

      SUBJECT_ID   HADM_ID  SEQ_NUM  Blood_Calcium  Blood_Creatinine
0          117.0  164853.0      4.0       0.131579          0.613636
1          124.0  134369.0      2.0       0.759259          0.982456
2            9.0  150750.0      4.0       0.285714          0.714286
3          245.0  105501.0      7.0       0.500000          0.666667
4          250.0  124271.0      5.0       0.625000          0.000000
...          ...       ...      ...            ...               ...
6816     95561.0  162189.0      2.0       0.000000          0.952381
6817     95782.0  195565.0      2.0       0.321429          0.638889
6818     96023.0  116385.0      7.0       0.500000          0.117647
6819     97143.0  122472.0      2.0       0.428571          0.142857
6820     97144.0  109999.0     13.0       0.166667          0.148148

[6821 rows x 5 columns]

In [36]:
All_result_2=pd.merge(All_result_1,Blood_Glucose,on=['SUBJECT_ID', 'HADM_ID','SEQ_NUM'],how='left')
All_result_2

,SUBJECT_ID,HADM_ID,SEQ_NUM,Blood_Calcium,Blood_Creatinine,Blood_Glucose
0,117.0,164853.0,4.0,0.131579,0.613636,0.807692
1,124.0,134369.0,2.0,0.759259,0.982456,0.718750
2,9.0,150750.0,4.0,0.285714,0.714286,0.875000
3,245.0,105501.0,7.0,0.500000,0.666667,0.830189
4,250.0,124271.0,5.0,0.625000,0.000000,0.495652
...,...,...,...,...,...,...
6816,95561.0,162189.0,2.0,0.000000,0.952381,0.945205
6817,95782.0,195565.0,2.0,0.321429,0.638889,0.666667
6818,96023.0,116385.0,7.0,0.500000,0.117647,0.823529
6819,97143.0,122472.0,2.0,0.428571,0.142857,0.285714
6820,97144.0,109999.0,13.0,0.166667,0.148148,0.744681

In [37]:
All_result_3=pd.merge(All_result_2,Blood_pH,on=['SUBJECT_ID', 'HADM_ID','SEQ_NUM'],how='left')
All_result_3

,SUBJECT_ID,HADM_ID,SEQ_NUM,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH
0,117.0,164853.0,4.0,0.131579,0.613636,0.807692,0.379310
1,124.0,134369.0,2.0,0.759259,0.982456,0.718750,0.760563
2,9.0,150750.0,4.0,0.285714,0.714286,0.875000,0.071429
3,245.0,105501.0,7.0,0.500000,0.666667,0.830189,0.305085
4,250.0,124271.0,5.0,0.625000,0.000000,0.495652,0.190476
...,...,...,...,...,...,...,...
6816,95561.0,162189.0,2.0,0.000000,0.952381,0.945205,NaN
6817,95782.0,195565.0,2.0,0.321429,0.638889,0.666667,0.086957
6818,96023.0,116385.0,7.0,0.500000,0.117647,0.823529,0.333333
6819,97143.0,122472.0,2.0,0.428571,0.142857,0.285714,NaN
6820,97144.0,109999.0,13.0,0.166667,0.148148,0.744681,0.285714

In [38]:
All_result_4=pd.merge(All_result_3,Blood_Urea_Nitrogen,on=['SUBJECT_ID', 'HADM_ID','SEQ_NUM'],how='left')
All_result_4

,SUBJECT_ID,HADM_ID,SEQ_NUM,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen
0,117.0,164853.0,4.0,0.131579,0.613636,0.807692,0.379310,0.954545
1,124.0,134369.0,2.0,0.759259,0.982456,0.718750,0.760563,0.981818
2,9.0,150750.0,4.0,0.285714,0.714286,0.875000,0.071429,0.428571
3,245.0,105501.0,7.0,0.500000,0.666667,0.830189,0.305085,0.666667
4,250.0,124271.0,5.0,0.625000,0.000000,0.495652,0.190476,0.029412
...,...,...,...,...,...,...,...,...
6816,95561.0,162189.0,2.0,0.000000,0.952381,0.945205,NaN,0.975610
6817,95782.0,195565.0,2.0,0.321429,0.638889,0.666667,0.086957,0.972222
6818,96023.0,116385.0,7.0,0.500000,0.117647,0.823529,0.333333,0.470588
6819,97143.0,122472.0,2.0,0.428571,0.142857,0.285714,NaN,0.428571
6820,97144.0,109999.0,13.0,0.166667,0.148148,0.744681,0.285714,0.481481

In [39]:
All_result=pd.merge(All_result_4,Urine,on=['SUBJECT_ID', 'HADM_ID','SEQ_NUM'],how='left')
All_result

,SUBJECT_ID,HADM_ID,SEQ_NUM,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine
0,117.0,164853.0,4.0,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746
1,124.0,134369.0,2.0,0.759259,0.982456,0.718750,0.760563,0.981818,0.060000
2,9.0,150750.0,4.0,0.285714,0.714286,0.875000,0.071429,0.428571,0.019608
3,245.0,105501.0,7.0,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000
4,250.0,124271.0,5.0,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217
...,...,...,...,...,...,...,...,...,...
6816,95561.0,162189.0,2.0,0.000000,0.952381,0.945205,NaN,0.975610,0.056604
6817,95782.0,195565.0,2.0,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277
6818,96023.0,116385.0,7.0,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870
6819,97143.0,122472.0,2.0,0.428571,0.142857,0.285714,NaN,0.428571,0.052632
6820,97144.0,109999.0,13.0,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243

In [40]:
#Merge the liquid test results table, All_result, with the generated patients_informations in data_processing_1
result_test_1=pd.merge(patients_informations,All_result,on=['SUBJECT_ID', 'HADM_ID','SEQ_NUM'])
result_test_1

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,AGE,ICD9_CODE,GENDER,RELIGION,MARITAL_STATUS,ETHNICITY,diabetes,hypertension,Death_Flag,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine
0,0,117,164853,4.0,49,5849,F,CATHOLIC,SINGLE,WHITE,0.0,1.0,1,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746
1,2,9,150750,4.0,41,5849,M,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,0.0,1.0,1,0.285714,0.714286,0.875000,0.071429,0.428571,0.019608
2,3,245,105501,7.0,76,5849,M,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,0.0,0.0,1,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000
3,4,250,124271,5.0,23,5849,F,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,0.0,0.0,1,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217
4,5,305,194340,4.0,76,5849,F,CATHOLIC,MARRIED,WHITE,1.0,1.0,1,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,8314,95561,162189,2.0,67,5849,M,JEWISH,DIVORCED,OTHER,1.0,1.0,0,0.000000,0.952381,0.945205,NaN,0.975610,0.056604
6817,8315,95782,195565,2.0,73,5849,M,PROTESTANT QUAKER,WIDOWED,PATIENT DECLINED TO ANSWER,0.0,0.0,0,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277
6818,8316,96023,116385,7.0,74,5849,F,NOT SPECIFIED,MARRIED,ASIAN - CHINESE,0.0,0.0,0,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870
6819,8317,97143,122472,2.0,60,5849,M,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,0.0,0.0,0,0.428571,0.142857,0.285714,NaN,0.428571,0.052632
6820,8318,97144,109999,13.0,87,5849,F,CATHOLIC,WIDOWED,WHITE,0.0,1.0,0,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243

In [41]:
result_test_2 = result_test_1.drop(['Unnamed: 0', 'ICD9_CODE'],axis=1)
result_test_2

,SUBJECT_ID,HADM_ID,SEQ_NUM,AGE,GENDER,RELIGION,MARITAL_STATUS,ETHNICITY,diabetes,hypertension,Death_Flag,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine
0,117,164853,4.0,49,F,CATHOLIC,SINGLE,WHITE,0.0,1.0,1,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746
1,9,150750,4.0,41,M,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,0.0,1.0,1,0.285714,0.714286,0.875000,0.071429,0.428571,0.019608
2,245,105501,7.0,76,M,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,0.0,0.0,1,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000
3,250,124271,5.0,23,F,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,0.0,0.0,1,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217
4,305,194340,4.0,76,F,CATHOLIC,MARRIED,WHITE,1.0,1.0,1,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,95561,162189,2.0,67,M,JEWISH,DIVORCED,OTHER,1.0,1.0,0,0.000000,0.952381,0.945205,NaN,0.975610,0.056604
6817,95782,195565,2.0,73,M,PROTESTANT QUAKER,WIDOWED,PATIENT DECLINED TO ANSWER,0.0,0.0,0,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277
6818,96023,116385,7.0,74,F,NOT SPECIFIED,MARRIED,ASIAN - CHINESE,0.0,0.0,0,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870
6819,97143,122472,2.0,60,M,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,0.0,0.0,0,0.428571,0.142857,0.285714,NaN,0.428571,0.052632
6820,97144,109999,13.0,87,F,CATHOLIC,WIDOWED,WHITE,0.0,1.0,0,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243

In [42]:
result_test_3 = result_test_2.drop(['SUBJECT_ID','HADM_ID', 'SEQ_NUM'],axis=1)

In [43]:
result_test_3['PATIENT_ID'] = result_test_3.index
result_test_3

,AGE,GENDER,RELIGION,MARITAL_STATUS,ETHNICITY,diabetes,hypertension,Death_Flag,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,PATIENT_ID
0,49,F,CATHOLIC,SINGLE,WHITE,0.0,1.0,1,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0
1,41,M,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,0.0,1.0,1,0.285714,0.714286,0.875000,0.071429,0.428571,0.019608,1
2,76,M,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,0.0,0.0,1,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000,2
3,23,F,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,0.0,0.0,1,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,3
4,76,F,CATHOLIC,MARRIED,WHITE,1.0,1.0,1,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,67,M,JEWISH,DIVORCED,OTHER,1.0,1.0,0,0.000000,0.952381,0.945205,NaN,0.975610,0.056604,6816
6817,73,M,PROTESTANT QUAKER,WIDOWED,PATIENT DECLINED TO ANSWER,0.0,0.0,0,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277,6817
6818,74,F,NOT SPECIFIED,MARRIED,ASIAN - CHINESE,0.0,0.0,0,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,6818
6819,60,M,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,0.0,0.0,0,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,6819
6820,87,F,CATHOLIC,WIDOWED,WHITE,0.0,1.0,0,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,6820

In [44]:
columns = list(result_test_3)
# move the column to head of list using index, pop and insert
columns.insert(0, columns.pop(columns.index('PATIENT_ID')))
columns.insert(14, columns.pop(columns.index('Death_Flag')))
columns.insert(13, columns.pop(columns.index('hypertension')))
columns.insert(12, columns.pop(columns.index('diabetes')))
# use loc to reorder
result_test_3 = result_test_3.loc[:, columns]
result_test_3

,PATIENT_ID,AGE,GENDER,RELIGION,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,F,CATHOLIC,SINGLE,WHITE,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0.0,1.0,1
1,1,41,M,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,0.285714,0.714286,0.875000,0.071429,0.428571,0.019608,0.0,1.0,1
2,2,76,M,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000,0.0,0.0,1
3,3,23,F,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0.0,0.0,1
4,4,76,F,CATHOLIC,MARRIED,WHITE,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,6816,67,M,JEWISH,DIVORCED,OTHER,0.000000,0.952381,0.945205,NaN,0.975610,0.056604,1.0,1.0,0
6817,6817,73,M,PROTESTANT QUAKER,WIDOWED,PATIENT DECLINED TO ANSWER,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277,0.0,0.0,0
6818,6818,74,F,NOT SPECIFIED,MARRIED,ASIAN - CHINESE,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0.0,0.0,0
6819,6819,60,M,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0.0,0.0,0
6820,6820,87,F,CATHOLIC,WIDOWED,WHITE,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0.0,1.0,0

In [45]:
#Convert data types to int
result_test_3[['diabetes']] = result_test_3[['diabetes']].astype(int)
result_test_3[['hypertension']] = result_test_3[['hypertension']].astype(int)
result_test_3

,PATIENT_ID,AGE,GENDER,RELIGION,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,F,CATHOLIC,SINGLE,WHITE,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
1,1,41,M,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,0.285714,0.714286,0.875000,0.071429,0.428571,0.019608,0,1,1
2,2,76,M,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000,0,0,1
3,3,23,F,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
4,4,76,F,CATHOLIC,MARRIED,WHITE,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,6816,67,M,JEWISH,DIVORCED,OTHER,0.000000,0.952381,0.945205,NaN,0.975610,0.056604,1,1,0
6817,6817,73,M,PROTESTANT QUAKER,WIDOWED,PATIENT DECLINED TO ANSWER,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277,0,0,0
6818,6818,74,F,NOT SPECIFIED,MARRIED,ASIAN - CHINESE,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
6819,6819,60,M,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0,0,0
6820,6820,87,F,CATHOLIC,WIDOWED,WHITE,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [46]:
#Filter for non-null values
result_test_3 = result_test_3[result_test_3['RELIGION'].notna()]
result_test_3 = result_test_3[result_test_3['MARITAL_STATUS'].notna()]
result_test_3 = result_test_3[result_test_3['ETHNICITY'].notna()]
result_test_3

,PATIENT_ID,AGE,GENDER,RELIGION,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,F,CATHOLIC,SINGLE,WHITE,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
2,2,76,M,PROTESTANT QUAKER,MARRIED,UNKNOWN/NOT SPECIFIED,0.500000,0.666667,0.830189,0.305085,0.666667,0.000000,0,0,1
3,3,23,F,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
4,4,76,F,CATHOLIC,MARRIED,WHITE,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
5,5,69,F,PROTESTANT QUAKER,MARRIED,WHITE,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,6816,67,M,JEWISH,DIVORCED,OTHER,0.000000,0.952381,0.945205,NaN,0.975610,0.056604,1,1,0
6817,6817,73,M,PROTESTANT QUAKER,WIDOWED,PATIENT DECLINED TO ANSWER,0.321429,0.638889,0.666667,0.086957,0.972222,0.021277,0,0,0
6818,6818,74,F,NOT SPECIFIED,MARRIED,ASIAN - CHINESE,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
6819,6819,60,M,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0,0,0
6820,6820,87,F,CATHOLIC,WIDOWED,WHITE,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [47]:
#Removal of properties with only a few values
result_test_4=result_test_3.drop(result_test_3[result_test_3['ETHNICITY']=='PATIENT DECLINED TO ANSWER'].index)
result_test_5=result_test_4.drop(result_test_4[result_test_4['ETHNICITY']=='UNABLE TO OBTAIN'].index)
result_test_6=result_test_5.drop(result_test_5[result_test_5['ETHNICITY']=='UNKNOWN/NOT SPECIFIED'].index)
result_test_7=result_test_6.drop(result_test_6[result_test_6['MARITAL_STATUS']=='UNKNOWN (DEFAULT)'].index)
result_test_8=result_test_7.drop(['RELIGION'], axis=1)
result_test_8

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,F,SINGLE,WHITE,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
3,3,23,F,SINGLE,BLACK/AFRICAN AMERICAN,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
4,4,76,F,MARRIED,WHITE,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
5,5,69,F,MARRIED,WHITE,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0,1,1
7,7,58,F,WIDOWED,WHITE,0.857143,0.666667,0.888889,NaN,0.888889,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6815,6815,78,M,MARRIED,WHITE,0.142857,0.875000,0.875000,NaN,0.625000,0.000000,0,0,0
6816,6816,67,M,DIVORCED,OTHER,0.000000,0.952381,0.945205,NaN,0.975610,0.056604,1,1,0
6818,6818,74,F,MARRIED,ASIAN - CHINESE,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
6819,6819,60,M,SINGLE,BLACK/AFRICAN AMERICAN,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0,0,0
6820,6820,87,F,WIDOWED,WHITE,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [48]:
White = result_test_8.loc[result_test_8['ETHNICITY'].str.contains('WHITE')]
Black = result_test_8.loc[result_test_8['ETHNICITY'].str.contains('BLACK')]
Asian = result_test_8.loc[result_test_8['ETHNICITY'].str.contains('ASIAN')]
Hispanic = result_test_8.loc[result_test_8['ETHNICITY'].str.contains('HISPANIC')]

In [49]:
White['ETHNICITY'] = 'WHITE'
Black['ETHNICITY'] = 'BLACK'
Asian['ETHNICITY'] = 'ASIAN'
Hispanic['ETHNICITY'] = 'HISPANIC'

In [50]:
final_result = pd.concat([White,Black,Asian,Hispanic])
final_result.sort_values(by=['PATIENT_ID'], ascending=True, inplace=True)
final_result

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,F,SINGLE,WHITE,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
3,3,23,F,SINGLE,BLACK,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
4,4,76,F,MARRIED,WHITE,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
5,5,69,F,MARRIED,WHITE,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0,1,1
7,7,58,F,WIDOWED,WHITE,0.857143,0.666667,0.888889,NaN,0.888889,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814,6814,72,M,MARRIED,WHITE,0.357143,0.705882,0.882353,NaN,0.764706,0.069307,0,0,0
6815,6815,78,M,MARRIED,WHITE,0.142857,0.875000,0.875000,NaN,0.625000,0.000000,0,0,0
6818,6818,74,F,MARRIED,ASIAN,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
6819,6819,60,M,SINGLE,BLACK,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0,0,0
6820,6820,87,F,WIDOWED,WHITE,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [51]:
# move the column to head of list using index, pop and insert
final_result.reset_index(inplace=True)
final_data = final_result.drop(['index', 'PATIENT_ID'],axis=1)
final_data['PATIENT_ID'] = final_data.index
columns = list(final_data)
columns.insert(0, columns.pop(columns.index('PATIENT_ID')))
final_data = final_data.loc[:, columns]
final_data

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,F,SINGLE,WHITE,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
1,1,23,F,SINGLE,BLACK,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
2,2,76,F,MARRIED,WHITE,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
3,3,69,F,MARRIED,WHITE,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0,1,1
4,4,58,F,WIDOWED,WHITE,0.857143,0.666667,0.888889,NaN,0.888889,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5919,5919,72,M,MARRIED,WHITE,0.357143,0.705882,0.882353,NaN,0.764706,0.069307,0,0,0
5920,5920,78,M,MARRIED,WHITE,0.142857,0.875000,0.875000,NaN,0.625000,0.000000,0,0,0
5921,5921,74,F,MARRIED,ASIAN,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
5922,5922,60,M,SINGLE,BLACK,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0,0,0
5923,5923,87,F,WIDOWED,WHITE,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [52]:
final_data.to_csv('final_data.csv')